<!--
  Title: contact.component.html
  Author: Erin Brady
  Date: 15 July 2023
  Description: Contact Page HTML
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div class="contact-section">
      <mat-card-title class="card-title-icon">
        <img src="https://just-enginerin.github.io/loan-app/assets/witch-broom.png" title="witch broom icon" class="contact-icon" />
      </mat-card-title>
      <em class="icon-credit">
        <a href="https://www.flaticon.com/free-icons/witch-broom" class="attribution-link">Witch broom icon created by Freepik - Flaticon</a>
      </em>
      <br />
      <mat-card-content class="align-center">
        <p>123 Serpent Street</p>
        <p>Snakeville, SLY 45678</p>
        <p>United Wizarding Kingdom</p>
      </mat-card-content>
    </div>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="var(--secondary)" class="contact-icon">history_edu</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Slytherin Loans - Owl Contact: +44 (0)3892 654321</p>
    </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
    <p style="text-align: center">
      Visit us online or at any of our locations in the Wizarding World.
    </p>
</div>
