<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="./assets/slytherin.png" title="Slytherin House Crest" width="80%" />
      </div>
      <div>
        <em>
          Team Slytherin Logo from <a class="attribution-link" href="https://smite-esports.fandom.com/wiki/Team_Slytherin" target="_blank">SMITE Esports Wiki</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1>About Slytherin Loans</h1>
    <p>
      Welcome to Slytherin Loans, where cunning and resourcefulness meet your financial needs. As proud members of the House of Slytherin, we are driven by ambition and excellence.
    </p>
    <p>
      At Slytherin Loans, we understand that financial decisions can be daunting, but fear not. Our application is designed to empower you with knowledge and assist you in making informed choices about your loans. With our user-friendly loan estimator, you can easily calculate the potential costs and terms of your loan, ensuring transparency and clarity every step of the way.
    </p>
    <p>As true heirs of the Slytherin legacy, we pride ourselves on offering flexible and competitive loan options. Whether you seek a loan for education, home improvement, or any other purpose, our loan estimator will provide you with valuable insights, allowing you to explore various scenarios and find the loan that suits your needs.</p>
    <p>Join the Slytherin Loans family and experience the power of ambition combined with financial expertise. We are here to guide you through the loan estimation process, assist you in your financial endeavors, and help you achieve your goals with the cunning efficiency that Slytherins are renowned for.</p>
    <p>
      Remember, at Slytherin Loans, we believe that loans should be as enchanting as a well-cast spell. Experience the magic of our loan estimator and unlock the financial opportunities that await you. Embrace the ambition, explore the possibilities, and let Slytherin Loans be your trusted partner on your path to success.
    </p>
  </div>
</div>
