/*
  Title: home.component.css
  Author: Erin Brady
  Date: 22 July 2023
  Description: Home / Loan Calculator page styles
*/

.loan-summary {
  text-align: center;
  height: 100%;
}

.mat-mdc-card, .mat-mdc-card-content {
  padding: 20px;
}

.summary-label {
  font-size: 15px;
  color: var(--secondary)
}

.summary-content {
  font-size: 40px;
  color: white;
}

button {
  background-color: var(--dark) !important;
  color: white !important;
  border: 1px solid white;
  transition: 400ms;
}

button:hover {
  background-color: var(--light) !important;
  color: var(--dark) !important;
  border: 1px solid var(--dark);
  transition: 400ms;
}
